@import '../../App.scss';

.form-container {
    display: flex;
    justify-content: center;
    width: 40rem;
    border-radius: $mainRadius;
    background-color: $boxMainColor;   
    padding: 5%;

    .phone-input {
        color: $textColor; 
    }

    .message-input {
        height: 10%;
    }

    .btn {
        margin-top: 4%;
    }

    .icon {
        position: absolute;
        top: 20%;
        left: 1%;
        transition: opacity .3s ease-in;
        opacity: 0;

        &.visible {
            opacity: 1;
        }
    }
}

@media (max-width: 1050px) {
    .form-container {
      width: 90%;
      padding: 8%;
    }
  }
