@import '../../App.scss';

.form-container {
    display: flex;
    justify-content: center;
    width: 40rem;
    border-radius: $mainRadius;
    box-shadow: 0 0 10px $shadowColor;
    background-color: $boxMainColor;   
    padding: 5%;

    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .phone-input {
            color: $textColor; 
        }

        .message-input {
            height: 10%;
        }

        .btn {
            margin-top: 4%;
        }
    }
}

@media (max-width: 1050px) {
    .form-container {
      width: 90%;
      padding: 8%;
    }
  }
