@import "../../App.scss";

.section-container {
  min-width: 100vw;
  min-height: 100vh;
  position: relative;
  padding: 3%;
  padding-bottom: 8%;

  &:after {
    content: "";
    display: block;
    width: 80%;
    height: 1px;
    background-color: darken($color: $mainColor, $amount: 10%);
    position: absolute;
    bottom: 1%;
    left: 10%;
  }
}
