@import '../../App.scss';

.footer-container {
    min-width: 100vw;
    padding: 1%;

    .text {
        display: flex;
        color: $textColor;
        justify-content: center;
        font-size: large;
    }

    .text-2  {
        display: flex;
        color: $textColor;
        justify-content: center;
        font-size: x-small;
    }
}